<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock title%}</title>

    <link rel="stylesheet" href="main.css" />
    {% block styles %}{% endblock styles%}
</head>
<body>

    <div id="header">
    {% block header %}{% endblock header %}
    </div>

    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2011 by <a href="/">you</a>.
        {% endblock footer %}
    </div>
</body>
</html>

