<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock title%}</title>

    <link rel="stylesheet" href="static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="static/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="static/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    {% block styles %}{% endblock styles%}
</head>
<body>
    <div class="container">
        <div id="header" class="span-24 prepend-top last">
            <div id="logo" class="span-4">
                <a href="/"><img src="static/img/logo.png" alt="LA Python logo: Lights, camera, whitespace!" /></a>
                {% block header %}{% endblock header %}
            </div>
            <div id="nav" class="span-20 last">
                <p>
                    <a href="/">Home</a> | <a href="/events">Events</a> | <a href="/members">Members</a> | <a href="/map">Map</a>
                </p>

                <ul id="breadcrumbs">
                {% for item in breadcrumbs %}
                    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div id="content" class="span-24 prepend-top last">
            {% block content %}{% endblock %}
        </div>

        <div id="footer" class="span-24 prepend-top last">
            {% block footer %}
            &copy; Copyright 2011 by <a href="/">you</a>.
            {% endblock footer %}
        </div>
    </div>
</body>
</html>

