<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}Python LA{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>
<body>
<div id="header">
    <img src="{{ STATIC_URL }}logo.png" alt="LA Python logo: Lights, camera, whitespace!" />
</div>
<div id="content">
    {% block content %}
    <p>Basic Jinja2 Template</p>
    {% endblock %}
</div>
</body>
</html>

