{% extends "templates/base.jinja2" %}
{% block title %}Events{% endblock title %}
{% block content %}
    {% for event in events %}
	<div class="event">
		<span class="event-name"><a href="{{ event.event_url }}">{{ event.name }}</a></span>
		<span class="event-time">{{ event.time }}</span>
		<span class="event-description">{{ event.description }}</span>
	</div>
    {% endfor %}
{% endblock content %}
