{% extends "base.jinja2" %}
{% block title %}Members{% endblock %}
{% block content%}
    {% for member in members %}
	<div class="member">
		<span class="member-name"><a href="{{ member.link }}">{{ member.name }}</a></span>
		<img class="member-photo" src="{{ member.photo_url }}" alt="">
	</div>
    {% endfor %}
{% endblock %}
