<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Python LA</title>
</head>
<body>
<div id="content">
    <p>Basic Jinja2 Template</p>
</div>
</body>
</html>

